
# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

### Python Patch ###
# Poetry local configuration file - https://python-poetry.org/docs/configuration/#local-configuration
poetry.toml

# ruff
.ruff_cache/

# LSP config files
pyrightconfig.json

# End of https://www.toptal.com/developers/gitignore/api/python
.env.example
chatbot_env
.env.example
.gitignore
api/EngFinDB.db
description/sql/1_jpk_header.sql
description/sql/1_jpk_naglowek.sql
description/sql/2_jpk_entity.sql
description/sql/2_jpk_podmiot.sql
description/sql/3_vat_sale.sql
description/sql/3_vat_sprzedaz.sql
description/sql/4_vat_purchase.sql
description/sql/4_vat_zakup.sql
description/sql/ddl.sql
fine_tuning/test_dataset.py
fine_tuning/dataset/train.csv
fine_tuning/fine_tune_dbs/dbs/ddl1.db
fine_tuning/fine_tune_dbs/dbs/ddl2.db
fine_tuning/fine_tune_dbs/dbs/ddl3.db
fine_tuning/fine_tune_dbs/dbs/ddl4.db
fine_tuning/fine_tune_dbs/dbs/ddl5.db
fine_tuning/fine_tune_dbs/dbs/ddl6.db
fine_tuning/fine_tune_dbs/dbs/ddl7.db
fine_tuning/fine_tune_dbs/dbs/ddl8.db
fine_tuning/fine_tune_dbs/dbs/ddl9.db
fine_tuning/fine_tune_dbs/dbs/ddl10.db
fine_tuning/fine_tune_dbs/ddls/ddl0.sql
fine_tuning/fine_tune_dbs/ddls/ddl1.sql
fine_tuning/fine_tune_dbs/ddls/ddl2.sql
fine_tuning/fine_tune_dbs/ddls/ddl3.sql
fine_tuning/fine_tune_dbs/ddls/ddl4.sql
fine_tuning/fine_tune_dbs/ddls/ddl5.sql
fine_tuning/fine_tune_dbs/ddls/ddl6.sql
fine_tuning/fine_tune_dbs/ddls/ddl7.sql
fine_tuning/fine_tune_dbs/ddls/ddl8.sql
fine_tuning/fine_tune_dbs/ddls/ddl9.sql
fine_tuning/fine_tune_dbs/ddls/ddl10.sql
fine_tuning/llama_finetuning/final_ft.txt
fine_tuning/llama_finetuning/train_llama
fine_tuning/llama_finetuning/train.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_0.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_1.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_2.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_3.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_4.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_5.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_6.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_7.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_8.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_9.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_1.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_2.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_3.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_4.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_5.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_6.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_7.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_8.csv
fine_tuning/llama_finetuning/10_datasets/fine_tune_raw_9.csv
query_raw_mistral/training_params.json
query_raw_mistral/checkpoint-253/adapter_config.json
query_raw_mistral/checkpoint-253/adapter_model.bin
query_raw_mistral/checkpoint-253/added_tokens.json
query_raw_mistral/checkpoint-253/optimizer.pt
query_raw_mistral/checkpoint-253/README.md
query_raw_mistral/checkpoint-253/rng_state.pth
query_raw_mistral/checkpoint-253/scheduler.pt
query_raw_mistral/checkpoint-253/special_tokens_map.json
query_raw_mistral/checkpoint-253/tokenizer_config.json
query_raw_mistral/checkpoint-253/tokenizer.json
query_raw_mistral/checkpoint-253/tokenizer.model
query_raw_mistral/checkpoint-253/trainer_state.json
query_raw_mistral/checkpoint-253/training_args.bin
query_raw_mistral/runs/Nov01_22-59-22_ksaff-MS-7D25/events.out.tfevents.1698875963.ksaff-MS-7D25.174937.0
query_raw_mistral/adapter_config.json
query_raw_mistral/adapter_model.bin
query_raw_mistral/added_tokens.json
query_raw_mistral/config.json
query_raw_mistral/README.md
query_raw_mistral/special_tokens_map.json
query_raw_mistral/tokenizer_config.json
query_raw_mistral/tokenizer.json
query_raw_mistral/tokenizer.model
query_raw_mistral/training_args.bin
query_raw_mistral/checkpoint-759/adapter_config.json
query_raw_mistral/checkpoint-759/adapter_model.bin
query_raw_mistral/checkpoint-759/added_tokens.json
query_raw_mistral/checkpoint-759/optimizer.pt
query_raw_mistral/checkpoint-759/README.md
query_raw_mistral/checkpoint-759/rng_state.pth
query_raw_mistral/checkpoint-759/scheduler.pt
query_raw_mistral/checkpoint-759/special_tokens_map.json
query_raw_mistral/checkpoint-759/tokenizer_config.json
query_raw_mistral/checkpoint-759/tokenizer.json
query_raw_mistral/checkpoint-759/tokenizer.model
query_raw_mistral/checkpoint-759/trainer_state.json
query_raw_mistral/checkpoint-759/training_args.bin
api/model/adapter_config.json
api/model/adapter_model.bin
api/model/added_tokens.json
api/model/generation_config.json
api/model/special_tokens_map.json
api/model/tokenizer_config.json
api/model/tokenizer.json
api/model/tokenizer.model
.gitignore
