__pycache__/
.ipynb_checkpoints
.env
.venv
node_modules

chatbot_env
api/model
query_raw_mistral
fine_tuning/dataset
fine_tuning/fine_tune_dbs
fine_tuning/llama_finetuning
description/sql
EngFinDB.db

fine_tuning/finetuning_commands_ds
query_sql_mistral
salary_query
old
fine_tuning/outputs
fine_tuning/1st_try
fine_tuning/2nd_try
queries.txt
sqlcoder-7b
flask_session